# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
_py-xgboost-mutex=2.0=cpu_0
absl-py=0.15.0=pyhd3eb1b0_0
argon2-cffi=21.3.0=pyhd3eb1b0_0
argon2-cffi-bindings=21.2.0=py38h2bbff1b_0
async-timeout=4.0.1=pyhd3eb1b0_0
brotli-python=1.0.9=py38h82bb817_2
ca-certificates=2022.4.26=haa95532_0
charset-normalizer=2.0.4=pyhd3eb1b0_0
conda-pack=0.7.0=pyh6c4a22f_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-renderer=1.1.2=py_0
dash-table=5.0.0=pypi_0
dask-core=2022.5.0=py38haa95532_0
flask-compress=1.10.1=pyhd3eb1b0_0
google-auth=2.6.0=pyhd3eb1b0_0
google-auth-oauthlib=0.4.1=py_2
google-pasta=0.2.0=pyhd3eb1b0_0
importlib-metadata=4.11.3=py38haa95532_0
intel-openmp=2021.4.0=haa95532_3556
jupyter-dash=0.4.2=py_0
keras-applications=1.0.8=py_1
keras-preprocessing=1.1.2=pyhd3eb1b0_0
lz4-c=1.9.3=h2bbff1b_1
matplotlib-base=3.3.1=py38hba9282a_0
matplotlib-inline=0.1.2=pyhd3eb1b0_2
mkl-service=2.4.0=py38h2bbff1b_0
nest-asyncio=1.5.5=py38haa95532_0
numpy-base=1.21.2=py38h0829f74_0
opencv-python=4.6.0.66=pypi_0
pascal-voc-writer=0.1.4=pypi_0
prince-factor-analysis=0.7.1=pyhd8ed1ab_1
prompt-toolkit=3.0.20=pyhd3eb1b0_0
py-opencv=4.0.1=py38he44ac1e_0
py-xgboost=1.5.1=cpu_py38hc22ac66_2
pyasn1-modules=0.2.8=py_0
python-dateutil=2.8.2=pyhd3eb1b0_0
python-fastjsonschema=2.15.1=pyhd3eb1b0_0
pytorch-mutex=1.0=cuda
requests-oauthlib=1.3.0=py_0
scikit-image=0.17.2=py38h1e1f486_0
scikit-learn=0.23.2=py38h47e9c7a_0
tensorboard-data-server=0.6.0=py38haa95532_0
tensorboard-plugin-wit=1.6.0=py_0
tensorflow-base=2.3.0=eigen_py38h75a453f_0
tensorflow-estimator=2.6.0=pyh7b7c402_0
typing-extensions=4.1.1=hd3eb1b0_0
umap-learn=0.5.2=py38haa244fe_1
